.highlight pre  { background: #2d2d2d; color: #cccccc !important; }
.highlight pre .c { color: #999999 !important; } /* Comment */
.highlight pre .err { color: #f2777a !important; } /* Error */
.highlight pre .k { color: #cc99cc !important; } /* Keyword */
.highlight pre .l { color: #f99157 !important; } /* Literal */
.highlight pre .n { color: #cccccc !important; } /* Name */
.highlight pre .o { color: #66cccc !important; } /* Operator */
.highlight pre .p { color: #cccccc !important; } /* Punctuation */
.highlight pre .cm { color: #999999 !important; } /* Comment.Multiline */
.highlight pre .cp { color: #999999 !important; } /* Comment.Preproc */
.highlight pre .c1 { color: #999999 !important; } /* Comment.Single */
.highlight pre .cs { color: #999999 !important; } /* Comment.Special */
.highlight pre .gd { color: #f2777a !important; } /* Generic.Deleted */
.highlight pre .ge { font-style: italic !important; } /* Generic.Emph */
.highlight pre .gh { color: #cccccc; font-weight: bold !important; } /* Generic.Heading */
.highlight pre .gi { color: #99cc99 !important; } /* Generic.Inserted */
.highlight pre .gp { color: #999999; font-weight: bold !important; } /* Generic.Prompt */
.highlight pre .gs { font-weight: bold !important; } /* Generic.Strong */
.highlight pre .gu { color: #66cccc; font-weight: bold !important; } /* Generic.Subheading */
.highlight pre .kc { color: #cc99cc !important; } /* Keyword.Constant */
.highlight pre .kd { color: #cc99cc !important; } /* Keyword.Declaration */
.highlight pre .kn { color: #66cccc !important; } /* Keyword.Namespace */
.highlight pre .kp { color: #cc99cc !important; } /* Keyword.Pseudo */
.highlight pre .kr { color: #cc99cc !important; } /* Keyword.Reserved */
.highlight pre .kt { color: #ffcc66 !important; } /* Keyword.Type */
.highlight pre .ld { color: #99cc99 !important; } /* Literal.Date */
.highlight pre .m { color: #f99157 !important; } /* Literal.Number */
.highlight pre .s { color: #99cc99 !important; } /* Literal.String */
.highlight pre .na { color: #6699cc !important; } /* Name.Attribute */
.highlight pre .nb { color: #cccccc !important; } /* Name.Builtin */
.highlight pre .nc { color: #ffcc66 !important; } /* Name.Class */
.highlight pre .no { color: #f2777a !important; } /* Name.Constant */
.highlight pre .nd { color: #66cccc !important; } /* Name.Decorator */
.highlight pre .ni { color: #cccccc !important; } /* Name.Entity */
.highlight pre .ne { color: #f2777a !important; } /* Name.Exception */
.highlight pre .nf { color: #6699cc !important; } /* Name.Function */
.highlight pre .nl { color: #cccccc !important; } /* Name.Label */
.highlight pre .nn { color: #ffcc66 !important; } /* Name.Namespace */
.highlight pre .nx { color: #6699cc !important; } /* Name.Other */
.highlight pre .py { color: #cccccc !important; } /* Name.Property */
.highlight pre .nt { color: #66cccc !important; } /* Name.Tag */
.highlight pre .nv { color: #f2777a !important; } /* Name.Variable */
.highlight pre .ow { color: #66cccc !important; } /* Operator.Word */
.highlight pre .w { color: #cccccc !important; } /* Text.Whitespace */
.highlight pre .mf { color: #f99157 !important; } /* Literal.Number.Float */
.highlight pre .mh { color: #f99157 !important; } /* Literal.Number.Hex */
.highlight pre .mi { color: #f99157 !important; } /* Literal.Number.Integer */
.highlight pre .mo { color: #f99157 !important; } /* Literal.Number.Oct */
.highlight pre .sb { color: #99cc99 !important; } /* Literal.String.Backtick */
.highlight pre .sc { color: #cccccc !important; } /* Literal.String.Char */
.highlight pre .sd { color: #999999 !important; } /* Literal.String.Doc */
.highlight pre .s2 { color: #99cc99 !important; } /* Literal.String.Double */
.highlight pre .se { color: #f99157 !important; } /* Literal.String.Escape */
.highlight pre .sh { color: #99cc99 !important; } /* Literal.String.Heredoc */
.highlight pre .si { color: #f99157 !important; } /* Literal.String.Interpol */
.highlight pre .sx { color: #99cc99 !important; } /* Literal.String.Other */
.highlight pre .sr { color: #99cc99 !important; } /* Literal.String.Regex */
.highlight pre .s1 { color: #99cc99 !important; } /* Literal.String.Single */
.highlight pre .ss { color: #99cc99 !important; } /* Literal.String.Symbol */
.highlight pre .bp { color: #cccccc !important; } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #f2777a !important; } /* Name.Variable.Class */
.highlight pre .vg { color: #f2777a !important; } /* Name.Variable.Global */
.highlight pre .vi { color: #f2777a !important; } /* Name.Variable.Instance */
.highlight pre .il { color: #f99157 !important; } /* Literal.Number.Integer.Long */